body {
  background-color: rgb(185, 142, 73);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
  z-index: -5;
  margin: 7%;
  width: 500px;
  background-color: #bd7e3f;
  background: size 100px;
  color: antiquewhite;
  height: 30%;
  padding: 10%;
  box-shadow: 0 0 12px -2px rgb(210, 150, 80);
  position: fixed;
  left: 2%;
  right: 2%;
  bottom: 5%;
  top: 3%;
  border-radius: 10%;
}

footer {
  background-color: #bd7e3f;
  color: antiquewhite;
  height: 70px;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px -2px rgb(215, 181, 80);
}

.header {
  box-shadow: 0 0 12px -2px rgb(215, 181, 80);
  left: 0;
  right: 0;
  align-items: center;
  background-color: #bd7e3f;
  color: bisque;
  display: flex;
  height: 80px;
  padding: 10px;
  font-size: 60px;
  font-family: cursive;
}

.kendall {
  border-radius: 50px;
  margin: 4%;
  background-repeat: inherit;
  width: 200px;
  z-index: -3;
}

@media only screen and (max-width: 10px) {
  body {
    background-color: #bd7e3f;
  }
}